/*scrolling is triggered on the html*/
html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

/*For the body, set the foreground color value*/
body {
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-medium);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-title);
}

/*all anchor elements, set the foreground color*/
a {
    color: #161616;
}

/*All elements with the class visually-hidden should have their display to none*/
visually-hidden {
    display: none;
}

/*All elements with the class card-category, should have their foreground color set*/
.card-category {
    color: var(--color-primary);
}

/*All elements with the class section-tagline should have their foreground color set*/
.section-tagline {
    color: var(--color-primary);
}

/* -- used to define custom properties*/
/* var() allows you to reference the value of a custom property and use it in place of a standard value*/
:root {
    --color-primary: #d73953;
    --color-black: #090909;
    --color-white: #ffffff;
    --color-light-grey: #f3f3f3;
    --color-dark-grey: #353535;
    --text-color: var(--color-black);
    --font-family-base: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-family-title: Helvetica Neue, Helvetica, Arial, sans-serif;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
}
